<div class ="container bdborder">
    <br>
<div class="input">
    <div class="col-md-6">
        <label class="lblname">
            Email:
        </label>
    </div>
    
    <input type="text" name="email" [(ngModel)]="Emailid">
</div>
<br>
<div class="input">
    <div class="col-md-6">
        <label class="lblname">
            Password:
        </label>
    </div>
    
    <input type="password" name="email" [(ngModel)]="Password">
</div>
<br>
<div class="input">
    
    <input type="submit" value="login" (click)="Login()">
</div>
<br>
</div>
